# This is the configuration file that devserv reads at startup.
# Lines preceded by '#' are ignored by devserv.  This file
# contains the hardware configuration.  

# The line below gives the video transmission address/port/time-to-live.
video 224.13.16.13/22334/1

# The line below gives a text description of devserv (usually info
# about what the camera is watching).
text "Marcia's workstation"

# The line below specifies the host that is the source of the camera image.
video_host taz.lbl.gov   

# The line below specifies the host running devserv (needed for the
# multithreadedd version if gethostbyname() is broken.
localhost taz.lbl.gov 

# Entries for devices are in the format:
#	device <make> <model> <internal_address> <type> <unit_number>
#		<port> <lens-type> 

# NOTES:
#	(1). <make> is manufacturer.
#	(2). <model> is model number as given in Operating Instructions
#	     manual.

#	(3). <internal_address> indicates the order of connection to
#	     the computer, when devices are daisy-chained on one port.
#	     (The Sony EVI-D30 allows up to 7 cameras to be chained.)
#	     Addressing is 1, 2, 3, ..., in order from 1 = closest to
#	     the computer to the highest number = farthest away.  

#	     THIS NUMBER IS INDEPENDENT OF <unit_number>!

#	(4). <type> indicates device category; e.g., camera or
#	     videoswitch. You may use either "camera" or "cam"
#	     and "vid" or "videoswitch".

#	(5). <unit_number> is an integer assigned by the user.
#	     This number corresponds to the device numbers used by
#	     the client program.

#	(6). <port> is the path of the serial port. 
#	     For SUN workstations, use /dev/ttyX where X = a, b, 
#            corresponding to port A, B, respectively.  For PCs
#            running freeBSD, connect device to port COMx and
#            specify path as /dev/ttyd<x-1>, where x = 1, 2,...  

#	(7). <lens-type> tells the type of lens used with a camera.   
#	     Specify "w" or "W" for a wide-angle lens.  Leave blank
#	     if you are using a standard lens.  


# The following is my own hardware configuration.  The line(s)
# commented out show other configurations. 

# linux
#device Sony EVI-D30 1 camera 1 /dev/ttyS1 
#device Canon VC-C1 1 camera 1 /dev/ttyS1 w	

# freeBSD
device Sony EVI-D30 1 camera 1 /dev/ttyd1 	
#device Canon VC-C3 1 camera 3 /dev/ttyd1 w	
#device Canon VC-C1 1 camera 1 /dev/ttyd1 w	
#device Panasonic WJ-MX20 1 videoswitch 1 /dev/ttyd1	
#device Sony EVI-D30 2 camera 2 /dev/ttyd1

# FOR SGI
#device Canon VC-C3 1 camera 3 /dev/ttym1 w	

# solaris
#device Sony EVI-D30 1 camera 1 /dev/ttya
#device Sony EVI-D30 2 camera 2 /dev/ttya
#device Canon VC-C1 1 camera 1 /dev/ttya
#device Canon VC-C3 1 camera 3 /dev/ttyb w	
#device Panasonic WJ-MX50 1 videoswitch 1 /dev/ttyb	
#device Panasonic WJ-MX20 1 videoswitch 1 /dev/ttyb	

# The following entries are for overriding the default networking
# addresses and ports.  Since I am using the defaults, these
# entries are commented out. 

#address multicastPort 8886 
#address udpPort 8885
#address cifUDPPort 9995
#address cifUUMPort 9996
#address multicastAddress 224.39.40.41
#address CIFUUMAddress 224.39.40.41

video 224.13.14.15/4567/1
